!!!
head
  link(rel='stylesheet', href='css/main.css')
  script('data-main'='js/main.js', src="js/require.js")
body
  #content
    a(href="#todos", id="switch-todos") Todos
    a(href="#todos", id="switch-contact-manager") Contact Manager
    #main-view
    #sub-view
